<!DOCTYPE html>
<html lang="pt">
<head>
	<meta charset="utf-8" />
	<script src="js/libs/accordion-menu.js"></script>
</head>
<body >
    <!-- Nav -->
	<nav id="nav">
		<div id="accordion">
			<ul>
				<li>
					<div>Menus</div>
					<ul>
						<li><a href="#menus">Menu Parametrização</a></li>
						<li><a href="#menus">Menu Gest. de Terceiros</a></li>
						<li><a href="#menus">Menu Recolhas</a></li>
						<li><a href="#menus">Menu Gest. de Tesouraria</a></li>
						<li><a href="#menus">Menu Contabilidade Geral</a></li>
						<li><a href="#menus">Menu Analítica</a></li>
						<li><a href="#menus">Menu Orçamental</a></li>
						<li><a href="#menus">Menu SNC</a></li>
						<li><a href="#menus">Menu Utilitários</a></li>
					</ul>
				</li>
			</ul>


		</div>
	</nav>
</body>
</html>
