<!DOCTYPE html>
<html lang="pt">
<head>
	<meta charset="utf-8" />
	<script src="js/libs/accordion-menu.js"></script>
</head>
<body >
    <!-- Nav -->
	<nav id="nav">
		<div id="accordion">
			<ul>
				<li>
					<div><a href="#menus">Menus</a></div>
					<ul>
						<li>
							<div>Parametrização</div>
								<ul>

									<li>
										<div>Instituição</div>
											<ul>
												<li><a href="#">Recolha</a></li>
												<li><a href="#">Exercícios</a></li>
												<li><a href="#">Configuração</a></li>
											</ul>
									</li><!--Instituição-->

								<li>
									<div>Tabelas Genéricas</div>
										<ul>
											<li>
												<div>Códigos Postais</div>
												<ul>
													<li><a href="#">Recolha</a></li>
													<li><a href="#">Listagens</a></li>
												</ul>
											</li><!--Códigos Postais-->
											<li>
												<div>Bancos</div>
												<ul>
													<li><a href="#">Recolha</a></li>
													<li><a href="#">Listagens</a></li>
												</ul>
											</li><!--Bancos-->
											<li>
												<div>Fatores de Aglutinação</div>
												<ul>
													<li><a href="#">Recolha</a></li>
													<li><a href="#">Listagens</a></li>
												</ul>
											</li><!--Fatores de Aglutinação-->
											<li>
												<div>Tipos de Entidades</div>
												<ul>
													<li><a href="#">Recolha</a></li>
													<li><a href="#">Listagens</a></li>
												</ul>
											</li><!--Tipos de Entidades-->
											<li>
												<div>Instituições Bancárias</div>
												<ul>
													<li><a href="#">Recolha</a></li>
													<li><a href="#">Listagens</a></li>
												</ul>
											</li><!--Instituições Bancárias-->
											<li><a href="#">Responsáveis</a></li>
											<li><a href="#">R.O.C.</a></li>
										</ul>
								</li><!--Tabelas Genéricas-->

								<li>
									<div>Contabilidade</div>
										<ul>
											<li>
												<div>Plano de Contas</div>
													<ul>
														<li>Recolha</li>
														<li>Listagens</li>
														<li>Plano Central</li>
													</ul>
											</li><!--Plano de Contas-->
											<li>
												<div>Contabilidade Pública</div>
													<ul>
														<li>
															<div>Classificadores Económicos</div>
																<ul>
																	<li>Recolha</li>
																	<li>Listagens</li>
																</ul>
														</li>
														<li>
															<div>Gestão Departamento</div>
																<ul>
																	<li>Atividades/Departamentos</li>
																	<li>Saldos Iniciais</li>
																</ul>
														</li>
														<li>Gestão Fonte Financiamento</li>
														<li>Gestão Programa</li>
														<li>Gestão Medida</li>
														<li>Gestão Projeto</li>
														<li>Gestão Regionalização</li>
														<li>Gestão Atividade</li>
														<li>Gestão Natureza</li>
														<li>Gestão Classificação Orgânica</li>
													</ul>
											</li><!--Contabilidade Pública-->
											<li>
												<div>Tipos de Diário</div>
													<ul>
														<li>Recolha</li>
														<li>Listagens</li>
													</ul>
											</li><!--Tipos de Diário-->
											<li>
												<div>Centros de Custo</div>
													<ul>
														<li>Recolha</li>
														<li>Listagens</li>
													</ul>
											</li><!--Centros de Custo-->
											<li>
												<div>CRI/Departamentos</div>
													<ul>
														<li>Recolha</li>
														<li>Listagens</li>
													</ul>
											</li><!--CRI/Departamentos-->
											<li>
												<div>Associações LCPA</div>
													<ul>
														<li></li>
														<li></li>
													</ul>
											</li><!--Associações LCPA-->
										</ul>
								</li><!--Contabilidade-->

								<li>
									<div>Terceiros</div>
										<ul>
											<li>Gestão de Entidades</li>
											<li>Tabelas de Projetos</li>
											<li>Gestão de Entidades Factoring</li>
											<li>Gestão de Produtos</li>
										</ul>
								</li><!--Terceiros-->

								<li>
									<div>Migração do SIDC</div>
										<ul>
											<li><a href="#menus">Carregamento dos ficheiros CSV</a></li>
											<li><a href="#menus">Validação da Informação</a></li>
											<li><a href="#menus">Carregamento de Tabelas</a></li>
										</ul>
								</li><!--Migração do SIDC-->

								<li>
									<div><a href="#menus">Fazer Logoff</a></div>
								</li><!--Fazer Logoff-->

								<li>
									<div><a href="#menus">Sair</a></div>
								</li><!--Sair-->


						</li><!--Parametrização-->


						<!--
						<li>Gest. de Terceiros</li>
						<li>Recolhas</li>
						<li>Gest. de Tesouraria</li>
						<li>Contabilidade Geral</li>
						<li>Analítica</li>
						<li>Orçamental</li>
						<li>SNC</li>
						<li>Utilitários</li>-->

					</ul>
				</li><!--Menus-->
			</ul>
		</div>
	</nav>
</body>
</html>
