<!DOCTYPE html>
<html lang="pt">
<head>
	<meta charset="utf-8" />
	<script src="js/libs/accordion-menu.js"></script>
</head>
<body >
    <!-- Nav -->
	<nav id="nav">
		<div id="accordion">

			<ol>
				<li><div><a href="#menus">Menus</a></div></li>
					<ol>
						<li><a href="#menus">Menu Parametrização</a></li>
							<ol>
								<li><a href="#menus">Opção Instituição</a></li>
								<li><a href="#menus">[Colocar subcapitulo]</a></li>
								<li><a href="#menus">[Colocar subcapitulo]</a></li>
							</ol>
						<li><a href="#menus">[Colocar subcapitulo]</a></li>
						<li><a href="#menus">[Colocar subcapitulo]</a></li>
						<li><a href="#menus">[Colocar subcapitulo]</a></li>
						<li><a href="#menus">[Colocar subcapitulo]</a></li>
					</ol>
				</li>
			</ol>

			<ol>
				<li>
					<div>[Colocar capítulo]</div>
					<ol>
						<li><a href="#menus">[Colocar subcapitulo]</a></li>
						<li><a href="#menus">[Colocar subcapitulo]</a></li>
						<li><a href="#menus">[Colocar subcapitulo]</a></li>
						<li><a href="#menus">[Colocar subcapitulo]</a></li>
					</ol>
				</li>
			</ol>


		</div>
	</nav>
</body>
</html>
